/********************************************************************************
 * Copyright (c) 2026 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Apache License Version 2.0 which is available at
 * https://www.apache.org/licenses/LICENSE-2.0
 *
 * SPDX-License-Identifier: Apache-2.0
 ********************************************************************************/

{% macro render_namespace(ns) -%}
pub mod {{ ns.name }} {
{% for intf in ns.interfaces | default([]) %}
{% for event in intf.events | default([]) if event.provider is defined %}
    pub const {{ ns.name | upper }}_{{ intf.name | upper }}_{{ event.name | upper }}_INSTANCE_SPECIFIER: &str = "{{ event.provider.instance_specifier | default(event.provider.instance | default(ns.name)) }}";
{% endfor %}
{% endfor %}
{% for child in ns.namespaces | default([]) %}
{{ render_namespace(child) }}
{% endfor %}
}
{% endmacro %}
{% for ns in json.namespaces | default([]) %}
{{ render_namespace(ns) }}
{% endfor %}