# *******************************************************************************
# Copyright (c) 2026 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-FileCopyrightText: 2026 Contributors to the Eclipse Foundation
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

# Enable all optional checks as long as it works.
# This might create surprises when updating shellcheck and it adds new checks.
# If this becomes annoying we have to selectively enable checks
enable=all

# Follow sourced files (needed for scripts that source config)
external-sources=true

# SC2292: [[ ]] not available in #!/bin/sh scripts — legitimate false positive
disable=SC2292

# SC1091: Not following sourced files that are not specified as input
# copied from pre-commit defaults
disable=SC1091
